<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <h1>NLP app</h1>
                <p> This is the front-end of an app that uses NLP on articles or blogs found on third-parties’ websites. This app will help users to classify the text/information available in the blogs or articles.  It will tell users whether the content is an opinion (subjective) or is fact-based (objective).  It will also tell users about the tone of the article -  positive,  negative or neutral.</p>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="thirdpartywebsite.com/blog" >
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2>Information:</h2>
                &nbsp;
                <div id="target" class="target">
                </div>
                <h2>Details:</h2>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
